/*
Style sheet for Mary's Toy Website

Author:
    Nathan Durr, Alex Vierzba, Wa Xiong
Date: 9-27-2017
*/

/*Shopping cart styles*/

.shopping-cart {
    float: right;
    clear: none;
    transition: all ease-in-out 0.25s;
}

#items-in-cart {
	padding: 7px, 12px;
    background-color: red;
    color: white;
    border-radius: 100px;
}

#cart-total {
	font-family: sans-serif;
    font-weight: bold;
}

.shopping-cart:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*Body styles*/

body {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}

body header {
    font-family: sans-serif;
    color: red;
}

main {
    min-height: 500px;
}

.title {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}

.title:hover{
    letter-spacing: 2px;
}

.title a {
    text-decoration: none;
    color: red;
}


/*Qoute styles*/

.quote {
    font-style: italic;
}


/*Item styles*/

.item {
    max-width: 200px;
    text-align: center;
    padding: 10px;
    display: inline-block;
}

.item img {
    height: 200px;
    width: 200px;
}


.price-of-toy{
	background-color: red;
	border-radius: 15px;
	font-family: sans-serif;
	color: white;
	padding: 10px;
}

.item button:hover {
    background-color: silver;
}


/*Footer styles*/

footer {
    font-size: 14px;
    color: red;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    background: lightgrey;
    padding: 5px 0px;
    margin-top: 40px;
}